body{
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.container a{
font-family: 'Montserrat';
font-weight: 600;
font-size: 16px;
text-align: center;
color: #252B42;
}
.container a:hover{
font-family: 'Montserrat';
font-weight: 600;
font-size: 16px;
text-align: center;
color: #FA4A0C;
}
header{
    min-height: 150px;
 width: 100%;

}
.row{
    width: 100%;
        display: flex;
    align-items: center;
}

/* header */